.select:hover{
    background-color: #62c462;
}
.item{
    padding: 1%;
    width: 50%;
}
.item img{
    width: 50px;
}
.repoId:hover{
    font-weight: 700;
    cursor: pointer;
}
.fav-true {
    font-weight:500;
    color: #803f7e;
}

