<div class="container-fluid" ng-app="RepoDetailCtrl">
    <div class="basic-data container">
        <table>
            <tr>
                <td>
                    <p>Repository onwer: {{repository.owner.login}}</p>
                </td>
                <td>
                    <img class="img-rounded" ng-src="{{repository.owner.avatar_url}}"/>
                </td>
            </tr>
        </table>
        <hr>
        <p>Repository name: {{repository.name}}</p>
        <p>Description: {{repository.description}}</p>
        <p>Created: {{repository.created_at}}</p>
        <p>Updated: {{repository.updated_at}}</p>
    </div>
</div>
