<div ng-app="RepoFavoriteCtrl">
    <div class="container">
        <ul class="repo list-group">
            <li class="list-group-item" ng-repeat="repository in repositories">
                <div>
                    <div class="inline"><h1 class="owner">{{repository.owner.login}}</h1></div>

                    <div class="inline">/</div>
                    <div class="inline"><strong class="repo-name"
                                                ng-click="showMenu = !showMenu">{{repository.name}}</strong></div>
                </div>
                <div class="basic-data" ng-show="showMenu">

                    <a href="#/detailed/{{repository.full_name}}"><p>Detailed information</p></a>

                    <p>Description: {{repository.description}}</p>
                    <p>Repository id: {{repository.id}}</p>
                    <a href="{{repository.html_url}}"><p>View on GitHub</p></a>
                    <button class="addRmv inline btn btn-default" ng-click="checkRepo(repository)">Remove</button>
                </div>

            </li>
        </ul>

    </div>
</div>
