<div ng-app="RepoListCtrl">
    <div class="head container">
        <table>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">https://github.com/</span>
                    <input ng-keypress="getRequest($event)" ng-model="user"
                           ng-pattern="/^([a-zA-Z](?:(?:(?:\w[\.\_]?)*)\w)+)([a-zA-Z0-9])$/" type="text"
                           class="user-input form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </tr>
        </table>
    </div>
    <div class="container">
        <ul class="repo list-group">
            <li class="list-group-item" ng-repeat="repository in repositories">
                <div>
                    <div class="inline"><h1 class="owner">{{repository.owner.login}}</h1></div>

                    <div class="inline">/</div>
                    <div class="inline"><strong class="repo-name"
                                                ng-click="showMenu = !showMenu">{{repository.name}}</strong></div>
                </div>
                <div class="basic-data" ng-show="showMenu">

                    <a href="#/detailed/{{repository.full_name}}"><p>Detailed information</p></a>

                    <p>Description: {{repository.description}}</p>
                    <p>Repository id: {{repository.id}}</p>
                    <a href="{{repository.html_url}}"><p>View on GitHub</p></a>
                    <button id="{{repository.id}}" class="addRmv inline btn btn-default" ng-click="checkRepo(repository)">Favorite
                    </button>


                </div>

            </li>
        </ul>

    </div>
</div>
