<div ng-app="RepoListCtrl">
    <div>
        <div class="head">
            <table>
                <tr>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">https://github.com/</span>
                        <input  ng-keypress="getRepositories($event.keyCode)" ng-model="user" ng-pattern="/^([a-zA-Z](?:(?:(?:\w[\.\_]?)*)\w)+)([a-zA-Z0-9])$/" type="text" class="user-input form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </tr>
            </table>
        </div>

        <ol class="repo">
            <li ng-repeat="repository in repositories">
                <div>
                    <div class="inline"><h1 class="owner">{{repository.owner.login}}</h1></div>

                    <div class="inline">/</div>
                    <div class="inline"><strong class="repo-name" ng-click="showMenu = !showMenu">{{repository.name}}</strong></div>
                </div>
                <!--       <label><input type="checkbox"/>favorite</label> -->

                <div class="basic-data" ng-show="showMenu">
                    <hr>
                    <img ng-src="{{repository.owner.avatar_url}}"/>

                    <a href="#/detailed/{{repository.full_name}}"><p>{{repository.name}}</p></a>

                    <p>{{repository.full_name}}</p>

                    <p>{{repository.description}}</p>
                    <button class="addRmv inline btn btn-default btn-lg" ng-click="addRepo(repository)">Favorite</button>
                </div>

            </li>
        </ol>

    </div>
</div>
