<div class="container-fluid" ng-app="RepoFavoriteCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ol class="repo">
                <li ng-repeat="favorit in favorits">
                    <p>
                    <table>
                        <tr>
                            <div ng-click="showMenu = !showMenu">{{favorit.id}}</div>
                        </tr>
                    </table>
                    </p>
                    <div class="item select" ng-show="showMenu">
                        <p>{{favorit.owner.login}}</p>
                        <img ng-src="{{favorit.owner.avatar_url}}"/>

                        <a href="#/detailed/{{favorit.full_name}}"><p>{{favorit.name}}</p></a>

                        <p>{{favorit.full_name}}</p>

                        <p>{{favorit.description}}</p>
                    </div>
                </li>
            </ol>

        </div>
    </div>
</div>