<div class="container-fluid" ng-app="RepoListCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Sort by id: <input ng-model="query">

        </div>
        <div class="col-md-10">
            <!--Body content-->
            <a href="#/favorite"><button>Go to Favorite</button></a>
            <ol class="repo">
                <li ng-repeat="repository in repositories | filter:query">
                    <p>
                    <table>
                        <tr>
                            <td>
                                <div ng-click="showMenu = !showMenu">{{repository.id}}</div>
                            </td>
                            <td>
                                <div class="favMark"><button ng-click="addRepo(repository)">Add/Remove Favorite</button></div>
                              <!--  <input type="checkbox" ng-change="toggleRepo(repository.id)"> -->
                            </td>
                        </tr>
                    </table>
                    </p>
                    <div class="item select" ng-show="showMenu">
                        <p>{{repository.owner.login}}</p>
                        <img ng-src="{{repository.owner.avatar_url}}"/>

                        <a href="#/detailed/{{repository.full_name}}"><p>{{repository.name}}</p></a>

                        <p>{{repository.full_name}}</p>

                        <p>{{repository.description}}</p>
                    </div>

                </li>
            </ol>

        </div>
    </div>
</div>
